<!-- Toolbar -->

<div class="toolbar" role="banner">
  <mat-icon (click)="toggleMenu()" class="menu btn" aria-hidden="true">menu</mat-icon>
  <a [routerLink]="['/']">Home</a>
  <a [routerLink]="['/customers']">Customers</a>
  <div (click)="toggleMenu()" [class]="menuState()">
    <div class="flex column">
      <a [routerLink]="['/']">Home</a>
      <a [routerLink]="['/customers']">Customers</a>
    </div>
  </div>

</div>

<div class="content" role="main">
  <router-outlet></router-outlet> 
</div>
<footer>
  SYSMC-LTD | Phone: 076-6654376 | www.sysmc.co.il
</footer>
